{% extends "AppMaritima/padre.html" %}


{% load static %}

        {% block contenido %}

                    <div class="row m-b-30">
                       <div class="col-xl-12">
                            <div class="card border-warning">
                                <div class="card-header">Información del boletín</div>

                                <a href="{% url 'ListBoletin' %}" class="btn btn-primary">-Atrás</a>
                              

                               <!--Info del boletín-->

                               <div class="card-body">

                                <a href="{% url 'NewAviso' %}" class="btn btn-primary">+Nuevo aviso</a><BR></BR>
                                
                                  <h5 class="card-title">VALIDO: {{ boletin.valido}}</h5>
                                  <h5 class="card-title">Emitido: {{ boletin.emitido}}</h5>
                                  <h5 class="card-title">Modificado: {{ boletin.modificado}}</h5>
                                  <h5 class="card-title">HORA: {{ boletin.hora}} Z</h5>
                                  <br>
                                

                                 

                                  
                              

                                
                            
                                </div>


                            </div>
                        </div>
                      
                    </div>



                  


                  
         {% endblock %}