<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <p>Acá tenemos todos los boletines:</p> <br>
    <ul>
      {% for boletin in object_list %}
      <li>

        <p>VALIDO: {{ boletin.valido}}</p>

        <p>
        <a href="{% url 'DetailBoletin' boletin.id %}">Ver más</a>
        <a href="{% url 'EditBoletin' boletin.id %}">Editar</a>
        <a href="{% url 'DeleteBoletin' boletin.id %}">Borrar</a>

      </p>

      </li>

      

      {% endfor %}



    </ul>

    <a href="{% url 'NewBoletin' %}">Agregar nuevo</a>
    
</body>
</html>