{% extends "AppMaritima/padre.html" %}


{% load static %}

        {% block contenido %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                         <div class="card">
                              <a href="{% url 'UltimoBoletin' %}" class="btn btn-primary">-Último boletín</a>
                            <div class="card-body">
                                <h4 class="card-title">Modificar el boletín</h4>
                               
                                <form method="POST">
                                    {% csrf_token %}

                                    
                                <div class="row form-material">
                                    <div class="col-md-6">
                                        <label class="m-t-20">Fecha de validez del boletín:</label>
                                        <input type="text" class="form-control" placeholder="AAAA-MM-DD" name="valido" id="mdate">
                                        
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <label class="m-t-20">Hora UTC del boletín:</label>
                                        

                                        <select class="form-control" name="hora">
                                            <option value="12">12</option>
                                            <option value="0" selected>00</option>
                                          
                                          </select>
                                        
                                    </div>

                                    
                                    
                                </div>

                                <input class="btn btn-success" type="submit" value="Enviar" />

                                </form>

                                

                            </div>
                        </div>

                    </div>
                </div>
            </div>

                {% endblock %}