<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <p>Acá tenemos todos las situacion:</p> <br>
    <ul>
      {% for situacion in object_list %}
      <li>

        <p>SISTEMA {{situacion.sistema}}</p>
        
        

        <p>
        <a href="{% url 'DetailSituacion' situacion.id %}">Ver más</a>
        <a href="{% url 'EditSituacion' situacion.id %}">Editar</a>
        <a href="{% url 'DeleteSituacion' situacion.id %}">Borrar</a>

      </p>

      </li>

      

      {% endfor %}



    </ul>

    <a href="{% url 'NewSituacion' %}">Agregar Situación</a>
    
</body>
</html>