{% extends "AppMaritima/padre.html" %}


{% load static %}

        {% block contenido %}
    



            <div class="container-fluid">
               <div class="row">
                  <div class="col-12">
                      <div class="card">
                            <div class="card-body">
                               
        
                                <form method="POST" class="mt-5 mb-5 login-input">
                                    {% csrf_token %}
                                    <div class="form-group">

                                        <div class="col-md-6 mb-3 mb-md-0">
                                            {{ form.as_p }}
                                        </div>
                    
                                        
                                    </div>
                                    
                                    <button class="btn login-form__btn submit w-100">Registrarse</button>
                                </form>
                                
                                <p class="mt-5 login-form__footer">Si tenes cuenta...<a href="/AppMaritima/login" class="text-primary">Ingresar</a> ...</p>

                            </div>
                        </div>
                    </div>
                </div>
           </div>
  

    

{% endblock %}




