{% extends "AppMaritima/padre.html" %}


{% load static %}
      
      

        {% block contenido %}

        <div class="content-body">

           

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Altamar N 60°</h3>
                                <div class="summernote">
                                    <pre id="texTareaI" >{{textoAltamar}}</pre>
                                   
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Costas N 60°</h3>
                                <div class="summernote">
                                    <pre id="texTareaI" >{{textoOff}}</pre>
                                   
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Altamar S 60°</h3>
                                <div class="summernote">
                                    <pre id="texTareaI" >{{textoAltamarS}}</pre>
                                   
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>


            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Costas S 60°</h3>
                                <div class="summernote">
                                    <pre id="texTareaI" >{{textoOffS}}</pre>
                                   
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Todo junto</h3>
                                <div class="summernote">
                                    <pre id="texTareaI" >{{textoSupremo}}</pre>
                                   
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Solo costas</h3>
                                <div class="summernote">
                                    <pre id="texTareaI" >{{textoCostas}}</pre>
                                   
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>

            {% for textoArray in array_navtex %}

                 <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="summernote">
                                            <pre id="texTareaI" >{{textoArray}}</pre>
                                        
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                        </div>
                 </div>

            {% endfor %}


            <!-- #/ container -->
        </div>

   

        {% endblock %}
        
      

          