{% extends "AppMaritima/padre.html" %}


{% load static %}

        {% block contenido %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                         <div class="card">
                              
                            <div class="card-body">
                                <h4 class="card-title">Datos PIMET actuales:</h4>
                               
                                 <br> <br>
                                  
                                <h4 class="card-title">{{pronosticosGuardados}}</h4>
                                  

                                  
                              

                              
                                   
                                

                            </div>
                        </div>

                    </div>
                </div>
            </div>


        {% endblock %}