<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Barcos</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 100vh;
            margin: 0; /* Elimina los márgenes que podrían causar espacio adicional */
            padding: 0; /* Elimina el padding */
        }
    </style>
</head>
<body>
    <h1>Reporte de Barcos</h1>

    <div id="map"></div>
    {% load static %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'AppVerificacion/leaflet-windbarb.js' %}"></script>

    <script>
        // Mapa de conversión de direcciones de viento a grados
        const windDirectionMap = {
        'N': 0,
        'NNE': 22.5,
        'NE': 45,
        'ENE': 67.5,
        'E': 90,
        'ESE': 112.5,
        'SE': 135,
        'SSE': 157.5,
        'S': 180,
        'SSO': 202.5,
        'SO': 225,
        'OSO': 247.5,
        'O': 270,
        'ONO': 292.5,
        'NO': 315,
        'NNO': 337.5
            };


        // Función para convertir la dirección del viento a grados
        function convertWindDirectionToDegrees(direction) {
            return windDirectionMap[direction] || 0; // Devuelve 0° si la dirección no está en el mapa
        }

        const barcos = {{ barcos|safe }};
        //barcos.forEach(barco => {
        //barco.latitud = barco.latitud !== None ? barco.latitud : null;
        //barco.longitud = barco.longitud !== None ? barco.longitud : null;
        //barco.direccion_viento = barco.direccion_viento !== None ? barco.direccion_viento : null;
        //barco.velocidad_viento = barco.velocidad_viento !== None ? barco.velocidad_viento : null;
        // });
        console.log(barcos);

        const map = L.map('map').setView([-50.0, -60.0], 5); // Coordenadas y zoom inicial

        L.tileLayer('https://wms.ign.gob.ar/geoserver/gwc/service/tms/1.0.0/capabaseargenmap@EPSG%3A3857@png/{z}/{x}/{-y}.png', {
            attribution: '<a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | <a href="http://www.ign.gob.ar/AreaServicios/Argenmap/IntroduccionV2" target="_blank">Instituto Geográfico Nacional</a> + <a href="http://www.osm.org/copyright" target="_blank">OpenStreetMap</a>',
            minZoom: 3,
            maxZoom: 18
        }).addTo(map);

        barcos.forEach(barco => {
            barco.nombre_buque = barco.nombre_buque.trim();
            barco.matricula = barco.matricula.trim();
            barco.imo = barco.imo ? barco.imo.trim() : 'No disponible';
            const fechaReporte = new Date(barco.fecha_reporte);

            if (barco.latitud && barco.longitud) {
                const windDirectionDegrees = convertWindDirectionToDegrees(barco.direccion_viento);

                const windBarbIcon = L.WindBarb.icon({
                    lat: barco.latitud,
                    deg: windDirectionDegrees, // Dirección del viento en grados
                    speed: barco.velocidad_viento ? barco.velocidad_viento : 0, // Velocidad del viento
                    pointRadius: 5,
                    strokeLength: 20
                });

                L.marker([barco.latitud, barco.longitud], { icon: windBarbIcon }).addTo(map);

                L.marker([barco.latitud, barco.longitud]).bindPopup(`
                    <b>${barco.nombre_buque}</b><br>
                    Matrícula: ${barco.matricula}<br>
                    IMO: ${barco.imo}<br>
                    Fecha del Reporte: ${fechaReporte.toLocaleString()}<br>
                    Latitud: ${barco.latitud}<br>
                    Longitud: ${barco.longitud}<br>
                    Dirección del Viento: ${barco.direccion_viento}<br>
                    Velocidad del Viento: ${barco.velocidad_viento}
                `).addTo(map);
            } else {
                console.warn("Datos de barco incompletos:", barco);
            }
        });
    </script>
    
</body>
</html>
