<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <p>Acá tenemos todos los avisos:</p> <br>
    <ul>
      {% for aviso in object_list %}
      <li>

        <p>Numero: {{ aviso.numero}}</p>
        <p>Actualización: {{ aviso.actualizacion}}</p>
        <p>Tipo: {{ aviso.tipo}}</p>
        <p>Direccion: {{ aviso.direccion}}</p>

        <p>
        <a href="{% url 'DetailAviso' aviso.id %}">Ver más</a>
        <a href="{% url 'EditAviso' aviso.id %}">Editar</a>
        <a href="{% url 'DeleteAviso' aviso.id %}">Borrar</a>

      </p>

      </li>

      

      {% endfor %}



    </ul>

    <a href="{% url 'NewAviso' %}">Agregar Aviso</a>
    
</body>
</html>