<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  
  {% for aviso in avisos %}

  <p>Numero: {{ aviso.numero}}</p>
  <p>Actualización: {{ aviso.actualizacion}}</p>
  <p>Tipo: {{ aviso.tipo}}</p>
  <p>Direccion: {{ aviso.direccion}}</p>
  <p>Desde: {{ aviso.desde}}</p>
  <p>Hasta: {{ aviso.hasta}}</p>

  
  {% endfor %}
 

    <p>

      <a href="{% url 'ListBoletin' %}">Regresar</a>

    </p>


</body>
</html>