{% extends "AppMaritima/padre.html" %}


{% load static %}

        {% block contenido %}

                    <div class="row m-b-30">
                       <div class="col-xl-12">
                            <div class="card border-warning">
                                <div class="card-header">Información de avisos activos:</div>

                                <a href="javascript:history.back()"  class="btn btn-primary">-Atrás</a>
                              

                               <!--Info del boletín-->

                               <div class="card-body">
                                 
                                <a href="{% url 'NewHielo' %}" class="btn btn-primary">+Nuevo hielo</a> <BR></BR>
                                
                                  <h5 class="card-title">Hielos activos:</h5>

                                 

                                  
                              

                              
                                    {% for hielo in hielos %}

                                   
                                        <h6 class="card-header">Texto: {{ hielo.texto}}</h6>
                                        


                                       
                                        <a href="{% url 'EditHielo' hielo.id %}" class="btn btn-warning">Actualizar</a>
                                        <a href="{% url 'CesarHielo' hielo.id %}" class="btn btn-dark">Cesar</a>
                                        <a href="{% url 'DeleteHielo' hielo.id %}"  class="btn btn-danger">Borrar</a>


                                    

                              
                                    {% endfor %}    
                            
                                </div>


                            </div>
                        </div>
                      
                    </div>



                  


                  
         {% endblock %}